/*
 * 重置SCSS
 */
 html,body,div,section,ul,li,h1,h2,h3,h4,h5,h6,dl,dt,dd,img{
     margin: 0px;
     padding: 0px;
 }
 img{
     display: block;
     border: none;
 }
 html,body,.wrap,.content{
     height: 100%;
 }
 .el-message-box {
    vertical-align: middle;
    background-color: #19315e;
    border: 0px solid #ebeef5;
    font-size: 18px;
}
.el-message-box__title {
    padding-left: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1;
    color: #66ccff;
}
.el-message-box__message {
    margin: 0;
    color: #66ccff;
    font-size: 18px;
    text-align: center;
}
.el-button--small {
    color: #66ccff;
    background-color: rgba(1, 143, 252, 0.2);
    border: none;
    font-family: "Microsoft YaHei";
}